build
dist / media
node_modules
.DS_Store
.env
.next
.vercel

# Payload default media upload directory
public/media/

/src/app/(frontend)/joinourteam/

/src/app/(frontend)/careersfor
/src/app/(frontend)/reauestquotation
/rel/src/app/(frontend)/posts

public/robots.txt
public/sitemap*.xml


# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
